# Node modules
node_modules/

# Symfony directories
/var/
/vendor/
/bin/

# Symfony logs and cache
/var/log/
/var/cache/

# Configuration files that contain sensitive information
.env
.env.*.local

# Development and testing files
.phpunit.result.cache
.phpunit.xml
.phpunit.xml.dist

# Composer files
composer.lock
symfony.lock

# Ignore IDE files
.idea/
.vscode/

# Build artifacts
/public/build/

# Miscellaneous
.DS_Store
Thumbs.db

# Ignore npm package files
package-lock.json

# Ignorar migraciones (opcional, si son generadas automáticamente)
migrations/
